<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- Application Logo or Name -->
                <h4 class="mb-0">GraphX</h4>
            </div>
            <div class="col-auto">
                <!-- User Profile Information -->
                <div class="d-flex align-items-center">
                   
                    <span class="fw-bold">Mohamed Farid</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body">

    <tw-sidebar></tw-sidebar>

    <tw-workspace></tw-workspace>
   
</div>