




<div class="container">
    <h1>Bootstrap & JQuery Demo</h1>
    <div class="alert alert-primary" role="alert">
      This is a Bootstrap alert.
    </div>
    <button class="btn btn-primary">Bootstrap Button with JQuery Alert</button>
  </div>


 <br>
 <br>
 <hr/>
 <br>
 <br>

  <div class="container">
    <h1>Monacocode Demo</h1>
    <div class="alert alert-primary" role="alert">
        <ngx-monaco-editor   class="monaco-editor-container"  [options]="editorOptions" [(ngModel)]="code" (onInit)="onEditorInit($event)"></ngx-monaco-editor>
    </div>
    <button class="btn btn-primary">Run Code</button>
  </div>

  <br>
  <br>
  <hr/>
  <br>
  <br>


  <div class="container" >
    <h1>Cytoscape Demo</h1>
    <div id="cy-container" class="alert alert-primary" role="alert">
        <div id="cy"></div>
    </div>

  </div>


